<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--Keys related to your Azure Search instance-->
      <add key="SearchServiceName" value="jfk-search-service-u46v6j3g2ntrm" />
      <add key="SearchServiceApiKey" value="EBF5438EA4A0EF2229AF54189F25AF98" />
      <add key="SearchServiceQueryKey" value="C2CDED399AB0E7F775D1240B7B553A38" />

      <!--Keys related to your storage account for the image-store custom skill-->
      <add key="BlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=jfkstorageu46v6j3g2ntrm;AccountKey=QnFKkR0RLwODqU6mNqns6RT87HLEVbml0yRqENJV0ujq4T8nyfzdQzSLJWLf68udYf1XEQNl3i1HMtJ6JCgkLw==;" />

      <!--Keys related to your Azure Web App instance-->
      <add key="AzureWebAppSiteName" value="jfk-site-u46v6j3g2ntrm" />
      <add key="AzureWebAppUsername" value="$jfk-site-u46v6j3g2ntrm" />
      <add key="AzureWebAppPassword" value="YSapl6hsWBT0ERrigJvLQfufNStj0QlE07sbJTJk20kp5xEYnbbc51D7aj9X" />
      
      <!--Keys related to your Azure Function instance-->
      <add key="AzureFunctionSiteName" value="jfk-function-app-u46v6j3g2ntrm" />
      <add key="AzureFunctionUsername" value="$jfk-function-app-u46v6j3g2ntrm" />
      <add key="AzureFunctionPassword" value="sb4vdDsaaHzskq92hhilovu9pjhYBQx2NfZBisupnSbRS36knHbvlBugdgB9" />
      
      <!--Location of sample JFK file documents that we are providing to you.-->
      <add key="JFKFilesBlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=jfkstorageu46v6j3g2ntrm;AccountKey=QnFKkR0RLwODqU6mNqns6RT87HLEVbml0yRqENJV0ujq4T8nyfzdQzSLJWLf68udYf1XEQNl3i1HMtJ6JCgkLw==;EndpointSuffix=core.windows.net" />
      <add key="JFKFilesBlobContainerName" value="thailegislation" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>